body {
    background-color: #9cd6ce;
    color: #fff;
    font-size: 28px;
}

h1 {
    background: #777;
}

.background {
    background-image: url(../images/beerbackground.jpg);
    background-size: cover;
    width: auto;
}

.other-font {
    text-align: center;
    color: black;
}
#new-game-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #777;
    /* color: #fff; */
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 6px #777;
    padding: 2px;
}

/* #answer-array {
    background: #fff;
} */

.jumbotron {
    max-height: 480px;
    padding: 0px;
    margin: 0px;
}