body {
    background-color: #9cd6ce;
    color: #0008a0;
    font-size: 28px;
}

h2 {
    background: #fff;
}

.background {
    background-image: url(../images/beerbackground.jpg);
    background-size: contain;
}

.other-font {
    text-align: center;
    color: black;
}
#new-game-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #777;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 6px #777;
    padding: 2px;
}

#answer-array {
    background: #fff;
}